<h1>Create a new Tweet</h1>

<form action="/tweets" method="POST">
  <label>Type here:</label>
  <br>
  <input type="text" name="content" id="content"></input>
  <br>
  <input type="submit" value="submit">
  </form>