<h1>Welcome, <%=current_user.username%>!</h1>
<h2>Here Are Your Tweets:</h2>

<%@tweets.each do |t|%>
    <% if !t.content.empty?%>
        <p><%= t.content%> </p>
    <%else%> <p>No Content</p>
    <%end%>
<%end%>

<a href="/tweets/new">Create new tweet</a>
